---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Arkeanos | Inicio"
  description="Bienvenidos a la Comunidad de los Arkeanos, un espacio para conectar, aprender y crecer juntos."
>
  <Header />
  <div class="h-20"></div>
</Layout>
