---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="keywords"
      content="Arkeanos, comunidad, conectar, aprender, crecer"
    />
    <meta name="author" content="Tu Nombre" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.tusitio.com/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://dslv9ilpbe7p1.cloudfront.net/kJIyObpQrsc3SkzXegvMog_store_logo_image.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.tusitio.com/" />
    <meta property="twitter:title" content="Comunidad de los Arkeanos" />
    <meta
      property="twitter:description"
      content="Bienvenidos a la Comunidad de los Arkeanos, un espacio para conectar, aprender y crecer juntos."
    />
    <meta
      property="twitter:image"
      content="https://dslv9ilpbe7p1.cloudfront.net/kJIyObpQrsc3SkzXegvMog_store_logo_image.png"
    />
  </head><body class="bg-[#181818]">
    <slot />
  </body>

  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

    * {
      margin: 0;
      padding: 0;
    }
  </style>
</html>
